.carousel-popmovies-container{
    height: 400px;
    background-color: rgb(129, 68, 54);
    display: flex;
}

.carousel-popmovies{
    overflow: hidden;
    display: flex;
    align-items: center;
}

.carousel-popmovies img{
    height: 350px;
}