.carousel-popmovies-container .carousel-popmovies{
    display: relative;
}

.slider:focus {
    outline: none;
}

.carousel-popmovies-container .carousel-popmovies .carousel-item{
    transition: all 0.4s ease-in-out;
    width: 85% !important;
    margin: 80px 50px;
    opacity: 0.25;
}

.carousel-popmovies-container .carousel-popmovies .carousel-item img{
    width: 100%;    
    border-radius: 10px;
    transition: filter 0.4s ease;
}

.carousel-popmovies-container .carousel-popmovies .center .slick-center .carousel-item:hover img{
    filter: brightness(0.6);
}

.carousel-popmovies-container .carousel-popmovies .center .slick-center .carousel-item{
    position: relative;
    transform: scale(1.25);
    opacity: 1;
    z-index: 2;
    cursor: pointer;
    
}

.carousel-popmovies-container .carousel-popmovies .slick-slider .arrow.left{
    position: absolute;
    color: #f5f5f5;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
}

.carousel-popmovies-container .carousel-popmovies .slick-slider .arrow.right{
    position: absolute;
    color: #f5f5f5;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
}

.carousel-popmovies-container .carousel-popmovies .slick-slider .arrow.right:hover, 
.carousel-popmovies-container .carousel-popmovies .slick-slider .arrow.left:hover{
    transform: translateY(-50%) scale(1.4);
}


  .carousel-popmovies-container .carousel-popmovies .center .slick-center .carousel-item .title{
    position: absolute;
    color: #f5f5f5;
    font-weight: bold;
    top: 60%;
    margin: 0px 20px;
    font-size: 12px;
  }

  .carousel-popmovies-container .carousel-popmovies .center .slick-center .carousel-item .dureenote{
    position: absolute;
    color: #f5f5f5;
    top: 65%;
    margin: 0px 20px;
    font-size: 12px;
  }

  .carousel-popmovies-container .carousel-popmovies .center .slick-center .carousel-item .overview{
    position: absolute;
    color: #f5f5f5;
    top: 72%;
    margin: 0px 20px;
    font-size: 10px;
  }

  .carousel-popmovies-container .carousel-popmovies .carousel-item p{
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .carousel-popmovies-container .carousel-popmovies .center .slick-center .carousel-item p{
    display: inline-block;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

  .carousel-popmovies-container .carousel-popmovies .center .slick-center .carousel-item:hover p{
    opacity: 1;
  }
