.reset-password-container {
    max-width: 40%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.reset-password-container p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.reset-password-container .reset-password-form,
.reset-password-container .reset-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-password-container .reset-password-form .fieldset,
.reset-password-container .reset-password-form .fieldset {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.reset-password-container .reset-password-form .fieldset label,
.reset-password-container .reset-password-form .fieldset label {
    margin-bottom: 5px;
}

.reset-password-container .reset-password-form .input-mail,
.reset-password-container .reset-password-form .input-mail {
    padding: 18px 20px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1.5px solid #e7e7e9;
}

.reset-password-container .reset-password-form .input-mail:focus,
.reset-password-container .reset-password-form .input-mail:focus {
    outline-color: #0c0c0c;
}

.reset-password-container .reset-password-form span:focus-within,
.reset-password-container .reset-password-form span:focus-within {
    border: 2px solid #0c0c0c;
}

.reset-password-container .reset-password-form img,
.reset-password-container .reset-password-form img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 5px 10px;
}

.reset-password-container .reset-password-form span,
.reset-password-container .reset-password-form span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1.5px solid #e7e7e9;
    margin-bottom: 20px;
}

.reset-password-container .reset-password-form span input,
.reset-password-container .reset-password-form span input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    padding: 18px 20px;
}

.reset-password-container .reset-password-form button,
.reset-password-container .reset-password-form button {
    width: 40%;
    margin: 20px 0;
    padding: 20px 24px;
    font-size: 16px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #0c0c0c;
    border: none;
    cursor: pointer;
}

.reset-password-container .reset-password-form button:hover,
.reset-password-container .reset-password-form button:hover {
    background-color: #1a1a1a;
}

.reset-password-container .reset-password-form .link p,
.reset-password-container .reset-password-form .link p {
    font-size: 14px;
    text-decoration: none;
}

.reset-password-container .reset-password-form .link a,
.reset-password-container .reset-password-form .link a {
    font-size: 14px;
    text-decoration: none;
    color: #3b3838;
}

.reset-password-container .reset-password-form .link a:hover,
.reset-password-container .reset-password-form .link a:hover {
    text-decoration: underline;
}
