header {
    background-color: #0c0c0c;
}

.public-nav,
.logged-nav {
    display: flex;
    align-items: center;
}

.public-nav .homelink img,
.logged-nav .homelink img {
    width: 120px;
    height: 100px;
}

.public-nav .categories,
.logged-nav .categories {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.public-nav .categories .category-with-submenu,
.logged-nav .categories .category-with-submenu {
    position: relative;
    margin: 0 15px;
    margin-right: 50px;

}

.public-nav .categories .category-with-submenu a,
.logged-nav .categories .category-with-submenu a {
    color: #fff;
    text-decoration: none;
    transition: border-bottom .4s ease-in-out;
    font-size: 16px;
    padding: 8px;
}

.public-nav .categories .category-with-submenu .submenu,
.logged-nav .categories .category-with-submenu .submenu {
    display: none;
    position: absolute;
    width: 205px;
    top: 100%;
    left: -40px;
    background-color: #0c0c0c;
    padding: 10px 10px;
    text-align: left;
    z-index: 3;
}

.public-nav .categories .category-with-submenu:hover .submenu,
.logged-nav .categories .category-with-submenu:hover .submenu {
    display: block;
}

.public-nav .categories .category-with-submenu .submenu ul,
.logged-nav .categories .category-with-submenu .submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.public-nav .categories .category-with-submenu .submenu li,
.logged-nav .categories .category-with-submenu .submenu li {
    padding: 10px;
    border-bottom: none;
}

.public-nav .categories .category-with-submenu .submenu li a,
.logged-nav .categories .category-with-submenu .submenu li a {
    color: #fff;
    text-decoration: none;
}

.public-nav .right-header,
.logged-nav .right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.public-nav .right-header .login,
.logged-nav .right-header .login {
    padding: 8px;
    color: #FEFEFE;
    text-decoration: none;
}

.public-nav .right-header .search-input,
.logged-nav .right-header .search-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding: 8px 16px;
    margin-right: 50px;
    background-color: #fff;
    width: 200px;
}

.public-nav .right-header .search-input input,
.logged-nav .right-header .search-input input {
    border: none;
    outline: none;
}

.logged-nav .right-header .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 25px;
    height: 25px;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.logged-nav .right-header .account a {
    text-decoration: none;
    color: #000;
}