.discover-media {
    display: flex;
    flex-direction: row;
}

.discover-media .filter-panel {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 15%;
    margin-top: 15px;
}

.discover-media .filter-panel button {
    margin: 5px;
    border-radius: 10px;
    background-color: #fff;
    color: #0c0c0c;
    padding: 8px;
    cursor: pointer;
    border: none;
    font-weight: bold;  
}

.discover-media .filter-panel button:hover {
    background-color: #000000;
    color: #fff;
    border: 1px solid #ffffff;
}

.discover-media .genres-panel {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 5px;
    background-color: #fff;
    border-radius: 8px;
}

.discover-media .genres-panel .genres-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    border-bottom: 1px solid #4c4c4c20;

}

.discover-media .genres-panel .genres-title p{
    font-weight: bold;
}

.discover-media .genres-panel .genre-list {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.discover-media .genres-panel li {
    width: fit-content;
    background-color: #ffffff;
    color: #000000;
    margin: 5px 5px;
    padding: 7px;
    border-radius: 17px;
    cursor: pointer;
    border: 1px solid #4c4c4c48;
    font-size: 12px;
}

.discover-media .genres-panel li:hover {
    background-color: #000000;
    color: #fff;
}

.discover-media .genres-panel ul .selected {
    background-color: #000000;
    color: #fff;
}


.discover-media .media-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover-media .media-display .see-more-icone {
    cursor: pointer;
    color: #ffffff;
    margin-bottom: 10px;
}

.discover-media .media-display .see-more-icone:hover {
    color: #484747;
    transform: scale(1.2);
}