.rating-modal {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 207px;
    left: 332px;
    background: #0c0c0c;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    white-space: nowrap;
    z-index: 1001;

    &::before {
        content: '';
        position: absolute;
        top: -10%;
        left: 50%;
        border-width: 0 10px 10px 10px;
        border-style: solid;
        border-color: transparent transparent #000 transparent;
        transform: translateX(-50%);
    }
}

.rating-modal span.close {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.rating-modal p {
    margin-top: 10px;
}

.rating-modal .stars {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.rating-modal .stars .remove-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.rating-modal .stars svg {
    width: 35px;
    height: 35px;
}