.movies-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie {
    width: calc(20% - 60px);
    margin: 20px 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.movies-container .movie img {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 20px 20px 0 0;
}

.movies-container .movie .movie-details .title {
    cursor: pointer;
}

.movies-container .movie .movie-details{
    width: 100%;
    padding: 26px 10px 12px;
    position: relative;
    white-space: normal;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
}

.movies-container .movie .movie-details .movie-note {
    position: absolute;
    top: -25px;
    left: 10px;
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    justify-content: center;
    background-color: #0c0c0c;
    display: flex;
    align-items: center;
    border: 2px solid #ffffff;
    border-style: double;
}

.movies-container .movie .movie-details .movie-note p {
    color: #fff;
    font-size: 12px;
}
