.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
    color: #fff;
}

.error-container a {
    background-color: #fff;
    color: #0c0c0c;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}