.actors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-right: 20px;
    margin-left: 20px;
}

.actor-item {
    width: calc(10% - 20px); 
    margin: 10px;
    text-align: center;
    background-color: rgb(251, 251, 251);
    color: black;
    border-radius: 11px;
    font-size: 12px;
}

.actor-item:hover {
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 0.8;
}

.actors-container .actor-item img {
    width: 100%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

.actors-container .show-more-actors {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.actors-container .arrow-actors:hover {
    opacity: 0.4;
}

.actors-container .actor-name {
    font-weight: bold;
}