.movies-image {
    position: relative;
}

.movies-image .movie-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.movies-image .movie-image-container .image-item {
    width: calc(20% + 10%); 
    margin: 10px;
    box-sizing: border-box; 
}

.movies-image .movie-image-container .image-item:hover {
    transform: scale(1.1);
}

.movies-image .movie-image-container .image-item img {
    width: 80%;
    height: auto; 
    border-radius: 8px; 
}

.loading-images{
    position: absolute;
    margin-top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
