.small-movies-container {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.small-movies-container .movie {
    font-size: 10px;
    width: 150px;
    color: black;
}

.small-movies-container .movie .date {
    margin-bottom: 100px;
}

.movies-recommandations-container .show-more-movies {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.movies-recommandations-container .arrow-movies:hover {
    opacity: 0.4;
}

.small-movies-container .movie:hover {
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 0.8;
}

.no-recommandations{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.show-more-movies {
    text-align: center;
}